/*variables*/

/*back-ground-colors*/

$header:#edf3ed;
$frontpage:#96d2bc;
$menu-box1:rgb(203, 225, 211);
$menu-box2: rgb(204, 221, 209);
$menu-box3:#cee4db;
$menu-box4:rgb(215, 232, 219);
$footer: #939F93;
$link-hover:rgb(40, 208, 152);


