@use 'variables';
@use 'mixins';


//generelt css

*{
    box-sizing:border-box;
    margin:0;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 180px 15fr auto;
    font-family: "Noto sans";
    background-color: variables.$beige;
}

//header/nav styling

header{
    padding: 1.5em;
    font-size: 2em;
    background-color: variables.$beige;
    .logo{
        float:left;
    }
    .menubar{
        float: right;
    }
    }

    nav{
        ul{
            padding: 0;
            float: right;

            li{
                display: inline-block;
                margin-inline: 10px;

                a{
                    color: variables.$header;
                    text-decoration: none;
                    font-family: sans-serif;
                    text-transform: uppercase;
                    @include mixins.hover-effect;
                    color: variables.$text;
                }
            }
        }
    }


//main /sidetitel og beskrivelse


main{
    .titel{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-bottom: 3em;
        padding: 5em;
        justify-content: center;
        text-align: center;
        background-color: variables.$beige;
        font-size: 2em;
        font-family: sans-serif;
        h1{
        font-size: 2em;
        color: #45c79e;
        }
        h2{
        font-size: 0.8em;
        font-style: italic;
        }

     } 
}  
        
//menu-emne box

.menucontainer{
    display: flex;
    height: 13em;
}


.emne{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 9, 33);
    @include mixins.hover-box;
    padding: 20px;
    transition: background-color 0.3s;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    .content{
        text-align: center;
        button {
            margin-top: 10px;
            padding: 5px 10px;
            background-color: #d9eae5;
            color: rgb(9, 2, 2);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            
        }
        
    }
}




.emne1{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: rgb(12, 74, 62);
    text-align: center;
   
}

.emne2{

    background-color: rgb(18, 83, 66);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
}

.emne3{
    background-color: #499b93;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;

}

.emne4{
    background-color: rgb(19, 89, 81);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
}


/*footer*/

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 2em;
    padding: 3em;
    background-color: variables.$footer;

}

.fa-facebook{
    display:inline-block;
    color: black;
    font-size: 4em;
    @include mixins.hover-effect;

}
.fa-instagram{
    display:inline-block;
    color: black;
    font-size: 4em;
    @include mixins.hover-effect;
}



  @media (max-width: 850px) {
    ul{
        display: none;
    }
    .menucontainer{
        display: grid;
        grid-template-columns: 1fr;
        height: 100vh;
    }}

  @media (min-width: 850px) {
    .menubar{
        display: none;
    }
    menucontainer{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        height:40vh;
    }
}
